## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Salalah,17.02,54.09,71.60,78,20,4.70,OM,2020-11-07 01:09:30
1,1,Olonets,60.98,32.97,44.73,74,19,13.11,RU,2020-11-07 01:09:30
2,2,Santa Rosa,14.31,121.11,84.99,74,75,5.50,PH,2020-11-07 01:09:31
3,3,Hermanus,-34.42,19.23,55.99,90,89,8.99,ZA,2020-11-07 01:00:23
4,4,Kuytun,54.34,101.50,14.59,96,100,5.59,RU,2020-11-07 01:09:31

In [19]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 75

In [20]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
#city_data_df["Max Temp"] <= max_temp & city_data_df["Max Temp"]>= min_temp

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Salalah,17.02,54.09,71.60,78,20,4.70,OM,2020-11-07 01:09:30
1,1,Olonets,60.98,32.97,44.73,74,19,13.11,RU,2020-11-07 01:09:30
3,3,Hermanus,-34.42,19.23,55.99,90,89,8.99,ZA,2020-11-07 01:00:23
8,8,Vestmannaeyjar,63.44,-20.27,40.75,69,99,16.44,IS,2020-11-07 01:04:36
11,11,Rikitea,-23.12,-134.97,71.49,75,24,17.98,PF,2020-11-07 01:04:32
13,13,Farafangana,-22.82,47.83,73.51,88,81,10.92,MG,2020-11-07 01:09:32
16,16,Port Hardy,50.70,-127.42,44.60,70,40,14.99,CA,2020-11-07 01:04:36
17,17,Albany,42.60,-73.97,55.00,71,20,5.41,US,2020-11-07 01:04:42
18,18,Lebu,-37.62,-73.65,52.86,79,0,20.62,CL,2020-11-07 01:09:33
19,19,Hobart,-42.88,147.33,57.99,46,40,12.75,AU,2020-11-07 01:02:39

In [21]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isna().sum()

Unnamed: 0    0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       4
Date          0
dtype: int64

In [22]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0          Salalah      OM     71.60  17.02   54.09
1          Olonets      RU     44.73  60.98   32.97
3         Hermanus      ZA     55.99 -34.42   19.23
8   Vestmannaeyjar      IS     40.75  63.44  -20.27
11         Rikitea      PF     71.49 -23.12 -134.97
13     Farafangana      MG     73.51 -22.82   47.83
16      Port Hardy      CA     44.60  50.70 -127.42
17          Albany      US     55.00  42.60  -73.97
18            Lebu      CL     52.86 -37.62  -73.65
19          Hobart      AU     57.99 -42.88  147.33

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows(): 
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    params["location"] = f"{lat}, {lng}"
    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try :
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except :
        print("no hotel found")

no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found
no hotel found

In [25]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Salalah,OM,71.60,17.02,54.09,HAMDAN PLAZA HOTEL
1,Olonets,RU,44.73,60.98,32.97,Country House on Savodaya 9
3,Hermanus,ZA,55.99,-34.42,19.23,Misty Waves Boutique Hotel
8,Vestmannaeyjar,IS,40.75,63.44,-20.27,Glamping & Camping
11,Rikitea,PF,71.49,-23.12,-134.97,Pension Maro'i

In [26]:
# 7. Drop the rows where there is no Hotel Name.

# print((clean_hotel_df).count())
# clean_hotel_df['Hotel Name'].replace('', np.nan, inplace = True)
# clean_hotel_df.head(10)

# clean_hotel_df.dropna(subset=['Hotel Name'], inplace = True)
# print((clean_hotel_df).count())
# clean_hotel_df.head(10)

clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
#clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

clean_hotel_df.to_csv(output_data_file)

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Max Temp} *F</dd>
</dl>
"""
#<dt>Max Temp</dt><dd>{Max Temp} *F</dd>

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure()
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))